body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5%;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 2%;
    margin: 2% 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    display: inline;
  }

.music-option {
    display: inline-block;
    cursor: pointer;
    margin-right: 1%;
}
.music-option input[type="radio"] {
    display: none; /* Hide the radio buttons */
}
.music-option label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
}
.music-option label::before {
    content: "\1F518"; /* Unicode icon for radio button */
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.music-option input[type="radio"]:checked + label::before {
    content: "\2713"; /* Unicode icon for checked state */
    background-color: #3498db; /* Change color when selected */
}